@tailwind base;
@tailwind components;
@tailwind utilities;

/* Catppuccin Latte */
:root[data-theme="light"] {
    color-scheme: light;
    --backgroundPrimary: 230 233 239;
    --backgroundSecondary: 239 241 245;
    --border: 188 192 204;
    --content1: 76 79 105;
    --content2: 92 95 119;
    --content3: 108 111 133;
    --whiteInverted: 0 0 0;
    --blackInverted: 255 255 255;
    --neutral: 105 113 119;
    --primary: 30 102 245;
    --secondary: 136 57 239;
    --success: 64 160 43;
    --error: 210 15 57;
    --warning: 223 142 29;

    --github_logo: url("./media/github__light.webp");
	--twitter-x_logo: url("./media/twitter-x__light.webp");
	--brainmade_logo: url("./media/brainmade__light.svg");
}
/* Catppuccin Mocha */
:root[data-theme="dark"] {
    color-scheme: dark;
    --backgroundPrimary: 30 30 46;
    --backgroundSecondary: 49 50 68;
    --border: 69 71 90;
    --content1: 205 214 244;
    --content2: 186 194 222;
    --content3: 166 173 200;
    --whiteInverted: 255 255 255;
    --blackInverted: 0 0 0;
    --neutral: 105 113 119;
    --primary: 137 180 250;
    --secondary: 203 166 247;
    --success: 166 227 161;
    --error: 243 139 168;
    --warning: 249 226 175;

    --github_logo: url("./media/github__dark.webp");
	--twitter-x_logo: url("./media/twitter-x__dark.webp");
	--brainmade_logo: url("./media/brainmade__dark.svg");
}
:root[data-theme="nord-light"] {
    color-scheme: light;
    --backgroundPrimary: 236 239 244;
    --backgroundSecondary: 229 233 240;
    --border: 216 222 233;
    --content1: 46 52 64;
    --content2: 59 66 82;
    --content3: 67 76 94;
    --whiteInverted: 0 0 0;
    --blackInverted: 255 255 255;
    --neutral: 105 113 119;
    --primary: 84 180 206;
    --secondary: 178 46 154;
    --success: 116 188 52;
    --error: 188 43 57;
    --warning: 234 173 51;

    --github_logo: url("./media/github__nord_light.webp");
	--twitter-x_logo: url("./media/twitter-x__nord_light.webp");
	--brainmade_logo: url("./media/brainmade__nord_light.svg");
}
:root[data-theme="nord-dark"] {
    color-scheme: dark;
    --backgroundPrimary: 36 41 51;
    --backgroundSecondary: 59 66 82;
    --border: 76 86 106;
    --content1: 236 239 244;
    --content2: 229 233 240;
    --content3: 216 222 233;
    --whiteInverted: 255 255 255;
    --blackInverted: 0 0 0;
    --neutral: 105 113 119;
    --primary: 136 192 208;
    --secondary: 180 142 173;
    --success: 163 190 140;
    --error: 191 97 106;
    --warning: 235 203 139;

    --github_logo: url("./media/github__nord_dark.webp");
	--twitter-x_logo: url("./media/twitter-x__nord_dark.webp");
	--brainmade_logo: url("./media/brainmade__nord_dark.svg");
}
:root[data-theme="catppuccin-frappe"] {
    color-scheme: dark;
    --backgroundPrimary: 48 52 70;
    --backgroundSecondary: 65 69 89;
    --border: 81 87 109;
    --content1: 198 208 245;
    --content2: 181 191 226;
    --content3: 165 173 206;
    --whiteInverted: 255 255 255;
    --blackInverted: 0 0 0;
    --neutral: 105 113 119;
    --primary: 140 170 238;
    --secondary: 202 158 230;
    --success: 166 209 137;
    --error: 231 130 132;
    --warning: 229 200 144;

    --github_logo: url("./media/github__catppuccin_frappe.webp");
	--twitter-x_logo: url("./media/twitter-x__catppuccin_frappe.webp");
	--brainmade_logo: url("./media/brainmade__catppuccin_frappe.svg");
}
:root[data-theme="catppuccin-macchiato"] {
    color-scheme: dark;
    --backgroundPrimary: 36 39 58;
    --backgroundSecondary: 54 58 79;
    --border: 73 77 100;
    --content1: 202 211 245;
    --content2: 184 192 224;
    --content3: 165 173 203;
    --whiteInverted: 255 255 255;
    --blackInverted: 0 0 0;
    --neutral: 105 113 119;
    --primary: 138 173 244;
    --secondary: 198 160 246;
    --success: 166 218 149;
    --error: 237 135 150;
    --warning: 238 212 159;

    --github_logo: url("./media/github__catppuccin_macchiato.webp");
	--twitter-x_logo: url("./media/twitter-x__catppuccin_macchiato.webp");
	--brainmade_logo: url("./media/brainmade__catppuccin_macchiato.svg");
}
:root[data-theme="tango-dark"] {
    color-scheme: dark;
    --backgroundPrimary: 0 0 0;
    --backgroundSecondary: 18 18 18;
    --border: 38 38 38;
    --content1: 238 238 236;
    --content2: 211 215 207;
    --content3: 186 189 182;
    --whiteInverted: 255 255 255;
    --blackInverted: 0 0 0;
    --neutral: 105 113 119;
    --primary: 114 159 207;
    --secondary: 212 142 224;
    --success: 138 226 52;
    --error: 239 41 41;
    --warning: 252 233 79;

    --github_logo: url("./media/github_white.webp");
	--twitter-x_logo: url("./media/twitter-x_white.webp");
	--brainmade_logo: url("./media/brainmade_white.svg");    
}
:root[data-theme="tango-light"] {
    color-scheme: light;
    --backgroundPrimary: 255 255 255;
    --backgroundSecondary: 238 238 236;
    --border: 211 215 207;
    --content1: 0 0 0;
    --content2: 46 52 54;
    --content3: 85 87 83;
    --whiteInverted: 255 255 255;
    --blackInverted: 0 0 0;
    --neutral: 105 113 119;
    --primary: 52 101 164;
    --secondary: 117 80 123;
    --success: 78 154 6;
    --error: 204 0 0;
    --warning: 196 160 0;

    --github_logo: url("./media/github_black.webp");
	--twitter-x_logo: url("./media/twitter-x_black.webp");
	--brainmade_logo: url("./media/brainmade_black.svg");    
}

:root {
    @apply bg-backgroundPrimary;
    /* WHY THE FUCK IS THIS POSIBLE WITHOUT QUOTES */
    --avatar_img: ./media/avatar.webp;
    --avatar_blink_img: ./media/avatar_blink.webp;
    --favicon: ./favicon.ico;
    --favicon_blink: ./favicon_blink.ico;
}

html {
    @apply min-w-[560px];
    scrollbar-color: rgb(var(--content1)) rgb(var(--backgroundPrimary));
}

.github-logo {
	content: var(--github_logo);
	transition: content 0.2s ease;
}

.twitter-x-logo {
	content: var(--twitter-x_logo);
	transition: content 0.2s ease;
}

.brainmade {
	content: var(--brainmade_logo);
	transition: content 0.2s ease;
	transition: opacity 0.2s ease;
}

.brainmade:hover {
	opacity: 75%;
}

.card.card-image-cover img {
	border-radius: 0 !important;
}

.divider-vertical::after,
.divider-vertical::before {
	@apply bg-content1;
}

.divider-vertical-backgroundPrimary:not(:empty) {
    @apply gap-4;
}

.divider-vertical-backgroundPrimary {
	@apply my-0 mx-0 h-2 w-4 flex-col;
}

.divider-vertical-backgroundPrimary::before {
	@apply bg-backgroundPrimary h-4 w-px content-[""];
}

.divider-vertical-backgroundPrimary::after {
	@apply bg-backgroundPrimary h-4 w-px content-[""];
}

.btn img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn:hover {
    @apply bg-opacity-75;
}

.btn:focus {
    @apply bg-opacity-75;
}

.btn-primary {
    @apply text-backgroundPrimary;
}

.btn-outline {
    @apply border-border text-content1;
}

.btn-outline:hover {
	@apply bg-border border-border;
}

.popover-warning {
    .popover-trigger {
        @apply my-4 btn btn-solid-warning bg-warning text-backgroundPrimary font-archivoBlack w-[24rem];
    }
    
    .popover-trigger:hover {
        @apply bg-warning/90;
    }

    .popover-content {
        @apply bg-backgroundSecondary/90 backdrop-blur-sm text-content1 p-4 text-sm w-[24rem];
        .link {
            @apply text-sm font-bold;
        }
        .popover-arrow {
            @apply bg-backgroundSecondary/90 backdrop-blur-sm
        }
        --tw-translate-y: -0.5rem !important;
    }
    
}

.btn-standard {
    @apply btn bg-backgroundSecondary;
    .divider {
        @apply divider-vertical mx-0 h-2;
    }
}

.btn-outline .divider  {
    @apply divider-vertical mx-0 h-2;
}

.avatar-standard {
    @apply rounded-xl size-72 shadow-lg;
}

body {
    @apply w-full flex flex-col items-center font-archivo;
    --blink-min: 2.25;
    --blink-max: 15;
    --blink-time: 0.25;
}

.body-standard {
    @apply w-5/6 lg:w-full mt-0 mb-0;
}

.main {
    @apply max-w-full flex lg:flex-row flex-col justify-center gap-16 items-center lg:items-start lg:p-4;
}

.header {
    @apply max-w-full flex flex-col items-center justify-center text-center gap-2;
}

.settings {
    @apply py-4 w-full;
}

.list-settings {
    @apply max-w-full h-6 text-xl flex justify-center text-center self-center content-center my-2 gap-x-4;
}

.footer {
    @apply max-w-full text-center self-center opacity-70 hover:opacity-100 pt-8 pb-16;
    transition: 0.2s opacity linear;
}

.content {
    @apply max-w-full lg:w-1/2 items-center justify-center;
}

h2 {
    @apply text-3xl font-bold font-archivoBlack;
    .icon {
        @apply size-8 self-center mr-1;
        pointer-events: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
}

h3 {
    @apply text-xl font-bold font-archivoBlack;
    .icon {
        @apply size-5 self-center mr-1;
    }
    img {
        pointer-events: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
}

.flag-small {
    @apply size-4 self-center mx-1 ml-0 mr-0 drop-shadow-[0_2px_2px_rgba(0,0,0,0.2)];
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.flag-header {
    @apply tooltip tooltip-top;
    img {
        @apply drop-shadow-[0_4px_4px_rgba(0,0,0,0.2)];
    }
}

.flag-header img {
    @apply size-16;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tooltip::before {
    @apply bg-content1/90 backdrop-blur-sm bg-backgroundSecondary text-content1 text-sm max-w-[256px] z-10;
}

.tooltip-top::after {
    @apply border-t-backgroundSecondary/90;
}

.tooltip-bottom::after {
    @apply border-b-backgroundSecondary/90;
}

.tooltip-left::after {
    @apply border-l-backgroundSecondary/90;
}

.tooltip-right::after {
    @apply border-r-backgroundSecondary/90;
}

.tooltip {
    @apply drop-shadow-md;
}

.tooltip:hover {
    @apply z-10;
}

.list-btn {
    @apply flex flex-wrap gap-4 m-4;
}

.modal {
    @apply bg-black/25 backdrop-blur-md;
}

html:has(.modal-state:checked, .modal-open) {
    @apply overflow-hidden mr-4;
}

.dropdown-menu {
    @apply bg-backgroundSecondary/90 backdrop-blur-sm text-content1 p-4 z-50;
}

.dropdown-item  {
    @apply bg-border/50;        
}

.dropdown-item:hover  {
    @apply bg-border/90;        
}
.dropdown-active {
    @apply bg-secondary text-backgroundPrimary;
}
.dropdown-item.dropdown-active:hover {
    @apply bg-secondary/90;
}

.icon-settings {
    @apply size-8 self-center mr-1;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

*::selection {
    @apply bg-content3/25
}