@tailwind base;
@tailwind components;
@tailwind utilities;

/* Catppuccin Latte */
:root[data-theme="light"] {
	color-scheme: light;
	--backgroundPrimary: 230 233 239;
	--backgroundSecondary: 239 241 245;
	--border: 188 192 204;
	--content1: 76 79 105;
	--content2: 92 95 119;
	--content3: 108 111 133;
	--whiteInverted: 0 0 0;
	--blackInverted: 255 255 255;
	
	--primary: 30 102 245;
	--secondary: 136 57 239;
	--success: 64 160 43;
	--error: 210 15 57;
	--warning: 223 142 29;
}
/* Catppuccin Mocha */
:root[data-theme="dark"] {
	color-scheme: dark;
	--backgroundPrimary: 30 30 46;
	--backgroundSecondary: 49 50 68;
	--border: 69 71 90;
	--content1: 205 214 244;
	--content2: 186 194 222;
	--content3: 166 173 200;
	
	
	
	--primary: 137 180 250;
	--secondary: 203 166 247;
	--success: 166 227 161;
	--error: 243 139 168;
	--warning: 249 226 175;
}
:root[data-theme="nord-light"] {
	color-scheme: light;
	--backgroundPrimary: 242 244 248;
	--backgroundSecondary: 229 233 240;
	--border: 216 222 233;
	--content1: 46 52 64;
	--content2: 59 66 82;
	--content3: 67 76 94;
	--whiteInverted: 0 0 0;
	--blackInverted: 255 255 255;
	
	--primary: 84 180 206;
	--secondary: 178 46 154;
	--success: 116 188 52;
	--error: 188 43 57;
	--warning: 234 173 51;
}
:root[data-theme="nord-dark"] {
	color-scheme: dark;
	--backgroundPrimary: 36 41 51;
	--backgroundSecondary: 59 66 82;
	--border: 76 86 106;
	--content1: 236 239 244;
	--content2: 229 233 240;
	--content3: 216 222 233;
	
	
	
	--primary: 136 192 208;
	--secondary: 180 142 173;
	--success: 163 190 140;
	--error: 191 97 106;
	--warning: 235 203 139;
}
:root[data-theme="catppuccin-frappe"] {
	color-scheme: dark;
	--backgroundPrimary: 48 52 70;
	--backgroundSecondary: 65 69 89;
	--border: 81 87 109;
	--content1: 198 208 245;
	--content2: 181 191 226;
	--content3: 165 173 206;
	
	
	
	--primary: 140 170 238;
	--secondary: 202 158 230;
	--success: 166 209 137;
	--error: 231 130 132;
	--warning: 229 200 144;
}
:root[data-theme="catppuccin-macchiato"] {
	color-scheme: dark;
	--backgroundPrimary: 36 39 58;
	--backgroundSecondary: 54 58 79;
	--border: 73 77 100;
	--content1: 202 211 245;
	--content2: 184 192 224;
	--content3: 165 173 203;
	
	
	
	--primary: 138 173 244;
	--secondary: 198 160 246;
	--success: 166 218 149;
	--error: 237 135 150;
	--warning: 238 212 159;
}
:root[data-theme="tango-dark"] {
	color-scheme: dark;
	--backgroundPrimary: 0 0 0;
	--backgroundSecondary: 18 18 18;
	--border: 38 38 38;
	--content1: 238 238 236;
	--content2: 211 215 207;
	--content3: 186 189 182;
	
	
	
	--primary: 114 159 207;
	--secondary: 212 142 224;
	--success: 138 226 52;
	--error: 239 41 41;
	--warning: 252 233 79;
}
:root[data-theme="tango-light"] {
	color-scheme: light;
	--backgroundPrimary: 255 255 255;
	--backgroundSecondary: 238 238 236;
	--border: 211 215 207;
	--content1: 0 0 0;
	--content2: 46 52 54;
	--content3: 85 87 83;
	
	
	
	--primary: 52 101 164;
	--secondary: 117 80 123;
	--success: 78 154 6;
	--error: 204 0 0;
	--warning: 196 160 0;
}
:root[data-theme="halloween"] {
	color-scheme: dark;
	--backgroundPrimary: 21 9 0;
	--backgroundSecondary: 64 26 0;
	--border: 94 38 0;
	--content1: 255 221 191;
	--content2: 255 199 149;
	--content3: 255 179 111;
	
	
	
	--primary: 255 145 0;
	--secondary: 212 142 224;
	--success: 255 205 0;
	--error: 255 111 0;
	--warning: 255 222 0;
}
:root[data-theme="gruvbox-dark"] {
    color-scheme: dark;
	--backgroundPrimary: 28 28 28; /* bg0 */
	--backgroundSecondary: 60 56 54; /* bg1 */
	--border: 80 73 69; /* bg2 */
	--content1: 251 241 199; /* fg0 */
	--content2: 213 196 161; /* fg2 */
	--content3: 168 153 132; /* fg4 */
	--primary: 131 165 152; /* blue */
	--secondary: 211 134 155; /* purple */
	--success: 184 187 38; /* green */
	--error: 251 73 52; /* red */
	--warning: 250 189 47; /* yellow */
}
:root[data-theme="gruvbox-light"] {
    color-scheme: light;
    --backgroundPrimary: 251 241 199; /* bg0 */
	--backgroundSecondary: 235 219 178; /* bg1 */
	--border: 213 196 161; /* bg2 */
	--content1: 40 40 40; /* fg0 */
	--content2: 80 73 69; /* fg2 */
	--content3: 124 111 100; /* fg4 */
	--primary: 7 102 120; /* blue */
	--secondary: 143 63 113; /* purple */
	--success: 121 116 14; /* green */
	--error: 157 0 6; /* red */
	--warning: 181 118 20; /* yellow */
}
:root[data-theme="dracula-dark"] {
    color-scheme: dark;
	--backgroundPrimary: 21 19 32; /* bg0 */
	--backgroundSecondary: 43 38 64; /* bg1 */
	--border: 83 73 126; /* bg2 */
	--content1: 248 248 243; /* fg0 */
	--content2: 194 177 230; /* fg2 */
	--content3: 157 143 186; /* fg4 */
	--primary: 149 128 255; /* blue */
	--secondary: 128 255 234; /* purple */
	--success: 138 255 128; /* green */
	--error: 255 149 128; /* red */
	--warning: 255 255 128; /* yellow */
}
:root[data-theme="dracula-light"] {
    color-scheme: light;
    --backgroundPrimary: 245 245 245; /* bg0 */
	--backgroundSecondary: 230 230 230; /* bg1 */
	--border: 184 184 184; /* bg2 */
	--content1: 31 31 31; /* fg0 */
	--content2: 63 62 75; /* fg2 */
	--content3: 99 93 151; /* fg4 */
	--primary: 100 74 201; /* purple */
	--secondary: 3 106 150; /* blue */
	--success: 48 127 39; /* green */
	--error: 163 19 77; /* red */
	--warning: 131 110 21; /* yellow */
}


:root {
	@apply bg-backgroundPrimary;
	/* WHY THE FUCK IS THIS POSIBLE WITHOUT QUOTES */
	--avatar_img: ./media/avatar.webp;
	--avatar_blink_img: ./media/avatar_blink.webp;
	--favicon: ./favicon.ico;
	--favicon_blink: ./favicon_blink.ico;
}

:root[data-theme="halloween"] {
	background-image: url(./media/halloween_background.png);
	--avatar_img: ./media/avatar__halloween.webp;
	--avatar_blink_img: ./media/avatar__halloween_blink.webp;
	--favicon: ./media/avatar__halloween.webp;
	--favicon_blink: ./media/avatar__halloween_blink.webp;
}

html {
	@apply min-w-[475.75px];
	scrollbar-color: rgb(var(--content1)) rgb(var(--backgroundPrimary));
}

.card.card-image-cover img:first-child {
	border-radius: 0;
}

.card-cover {
	border-top-left-radius: 0.75rem !important;
	border-top-right-radius: 0.75rem !important;
}

.divider-vertical::after,
.divider-vertical::before {
	@apply bg-content1;
}

.divider-vertical-backgroundPrimary:not(:empty) {
	@apply gap-4;
}

.divider-vertical-backgroundPrimary {
	@apply my-0 mx-0 h-2 w-4 flex-col;
}

.divider-vertical-backgroundPrimary::before {
	@apply bg-backgroundPrimary h-4 w-px content-[""];
}

.divider-vertical-backgroundPrimary::after {
	@apply bg-backgroundPrimary h-4 w-px content-[""];
}

.divider-horizontal-content3 {
	@apply bg-content3 text-content3;
}
.divider-horizontal-content3::after,
.divider-horizontal-content3::before {
	@apply bg-content3 text-content3;
}

.divider-horizontal-content3-25 {
	@apply opacity-25 select-none;
}

.divider-horizontal-content3-25::after,
.divider-horizontal-content3-25::before {
	@apply bg-content3 text-content3;
}

.btn img {
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.btn:hover {
	@apply bg-opacity-75;
}

.btn:focus {
	@apply bg-opacity-75;
}

.btn-primary {
	@apply text-backgroundPrimary;
}

.btn-outline {
	@apply border-border text-content1;
}

.btn-outline-primary {
	@apply border-primary text-content1;
}

.btn-outline-primary:hover {
	@apply bg-primary text-backgroundPrimary;
    .divider {
        @apply divider-vertical-backgroundPrimary
    }
}

.btn-outline:hover {
	@apply bg-border border-border;
}

.popover-warning {
	.popover-trigger {
		@apply my-4 btn btn-solid-warning bg-warning text-backgroundPrimary font-archivoBlack max-w-[24rem];
	}

	.popover-trigger:hover {
		@apply bg-warning/75;
	}

	.popover-content {
		@apply bg-backgroundSecondary/75 drop-shadow-md backdrop-blur-sm backdrop-brightness-125 dark:backdrop-brightness-75 text-content1 p-4 text-sm lg:w-[24rem];
		.link {
			@apply text-sm font-bold;
		}
		.popover-arrow {
			@apply hidden;
		}
		--tw-translate-y: -0.5rem !important;
	}
}

:focus-visible {
	@apply outline-content3 outline outline-offset-2 outline-2 rounded;
}

.btn:focus-visible {
	@apply outline-content3 rounded-xl;
}

.btn-standard {
	@apply btn bg-backgroundSecondary;
	.divider {
		@apply divider-vertical mx-0 h-2;
	}
}

.btn-outline .divider {
	@apply divider-vertical mx-0 h-2;
}

.btn-outline-primary .divider {
	@apply divider-vertical mx-0 h-2;
}

.avatar-standard {
	@apply rounded-xl size-72 shadow-lg;
}

body {
	@apply w-full flex flex-col items-center font-archivo transition-colors;
	--blink-min: 2.25;
	--blink-max: 15;
	--blink-time: 0.25;
}

.body-standard {
	@apply w-full mt-0 mb-0;
}

.main {
	@apply max-w-full flex lg:flex-row flex-col justify-center gap-16 items-center lg:items-start lg:p-4;
}

.header {
	@apply max-w-full flex flex-col items-center justify-center text-center gap-2;
}

/*
.settings {
    @apply py-4 w-full;
}

.list-settings {
    @apply max-w-full h-6 text-xl flex justify-center text-center self-center content-center my-2 gap-x-4;
}
*/

.footer {
	@apply max-w-full text-center self-center lg:opacity-70 lg:hover:opacity-100 pt-8 pb-16;
	transition: 0.2s opacity linear;
}

.content {
	@apply max-w-full lg:w-[55%] items-center justify-center;
}

h2 {
	@apply mx-4 text-3xl font-bold font-archivoBlack;
	.icon {
		@apply size-8 self-center mr-1;
		pointer-events: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
}

h2.card-header {
	@apply mx-0;
}

h3 {
	@apply mx-4 text-xl font-bold font-archivoBlack;
	.icon {
		@apply size-5 self-center mr-1;
	}
	img {
		pointer-events: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
}

.flag-small {
	@apply size-4 self-center mx-1 ml-0 mr-0 drop-shadow-[0_2px_2px_rgba(0,0,0,0.2)];
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.flag-header {
	@apply tooltip tooltip-top;
	img {
		@apply drop-shadow-[0_4px_4px_rgba(0,0,0,0.2)];
	}
}

.flag-header img {
	@apply size-16;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.tooltip {
	--tooltip-bg: rgb(var(--backgroundSecondary));
	--tooltip-border: rgb(var(--backgroundSecondary));
}

.tooltip::before {
	@apply bg-backgroundSecondary/75 drop-shadow-md backdrop-blur-sm backdrop-brightness-125 dark:backdrop-brightness-75 text-content1 text-sm max-w-[256px] text-wrap z-10;
    
}

.tooltip::before.tooltip-pronunciation {
    @apply font-notoSerif not-italic text-xl;
}

.tooltip-link::before {
    @apply content-[attr(href)];
}

.tooltip.tooltip-link::before {
    @apply !text-backgroundPrimary !bg-primary !text-pretty !font-semibold !text-sm !font-sourceCodePro !max-w-[24rem];
    overflow-wrap: anywhere;
}

/* tooltip-top::after */

.tooltip::after {
    @apply border-r-transparent border-l-transparent border-t-backgroundSecondary z-[11];
}

.tooltip::after.tooltip-link {
    @apply border-t-primary
}

/* tooltip-top::after */

    .tooltip-top::after {
        @apply border-r-transparent border-l-transparent border-transparent border-t-backgroundSecondary z-[11];
    }

    .tooltip-top::after.tooltip-link {
        @apply border-t-primary
    }

/* tooltip-bottom::after */

    .tooltip-bottom::after {
        @apply border-r-transparent border-l-transparent border-b-backgroundSecondary z-[11];
    }
    .tooltip-bottom::after.tooltip-link {
        @apply border-b-primary
    }

/* tooltip-left::after */

    .tooltip-left::after {
        @apply border-t-transparent border-b-transparent border-l-backgroundSecondary z-[11];
    }
    .tooltip-left::after.tooltip-link {
        @apply border-l-primary
    }

/* tooltip-right::after */

    .tooltip-right::after {
        @apply border-t-transparent border-b-transparent border-r-backgroundSecondary z-[11];
    }
    .tooltip-right::after.tooltip-link {
        @apply border-r-primary
    }

/* tooltip-bottom-center::after */

    .tooltip-bottom-right {
        @apply tooltip-bottom;
    }

    .tooltip-bottom-right::before {
        transform: translate(-22.5%);
    }

/* tooltip-top-center::after */

.tooltip-top-right {
    @apply tooltip-top;
}

.tooltip-top-right::before {
    transform: translate(-22.5%);
}

/* end of tooltip arrows */

.tooltip:hover {
	@apply z-10;
}

.list-btn {
	@apply flex flex-wrap gap-4 m-4;
}

.modal-content {
	@apply bg-backgroundPrimary drop-shadow-lg w-full max-w-full max-h-full rounded-none lg:h-max lg:max-h-[90%] lg:rounded-[.75rem] lg:max-w-3xl;
}

.modal {
	@apply bg-content1/75 dark:bg-backgroundPrimary/75 backdrop-blur-sm backdrop-brightness-75;
}

.accordion-group-bordered {
	@apply border-border;
}

.accordion-title {
	@apply bg-backgroundSecondary border-border;
}

.accordion-group.accordion-group-hover .accordion:focus .accordion-title,
.accordion-group.accordion-group-hover > .accordion .accordion-title:hover,
.accordion-group.accordion-group-hover
	> .accordion
	.accordion-toggle:checked
	~ .accordion-title,
.accordion-group.accordion-group-hover
	> .accordion.accordion-open
	.accordion-title {
	@apply bg-border;
}

.accordion-group .accordion.accordion-open .accordion-content,
.accordion-toggle:checked ~ .accordion-content,
.accordion:focus .accordion-content {
	@apply border-border;
}

html:has(.modal-state:checked, .modal-open) {
	@apply overflow-hidden mr-4;
}

.dropdown-menu {
	@apply bg-backgroundSecondary/75 drop-shadow-md backdrop-blur-sm backdrop-brightness-125 dark:backdrop-brightness-75 text-content1 p-4 z-50;
}

.dropdown-item {
	@apply bg-border/50;
}

.dropdown-item:hover {
	@apply bg-border;
}
.dropdown-active {
	@apply bg-primary text-backgroundPrimary font-bold;
}
.dropdown-item.dropdown-active:hover {
	@apply bg-primary;
}

.icon-settings {
	@apply size-8 self-center mr-1;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

*::selection {
	@apply bg-content3/25;
}

.card-body {
	@apply pt-[1rem];
}

.badge-primary {
	@apply text-backgroundPrimary;
}

.badge-error {
	@apply text-backgroundPrimary;
}

.badge-warning {
	@apply text-backgroundPrimary;
}

.card-badges {
	@apply select-none flex flex-wrap gap-1;
}

.btn-ghost {
	@apply text-content1;
}

.btn-ghost:hover {
	@apply bg-backgroundSecondary;
}

#notification {
	@apply fixed z-[70] select-none -top-[20rem];
	transition: 0.2s top ease;
}

.show#notification {
	@apply top-0;
}

.alert-success {
	@apply bg-success text-backgroundPrimary;
}
